.container {
  text-align: center;
  width: 50%;
  color: white;
  overflow: auto;
}

.container h1 {
  font-size: 2rem;
  padding: 10px 0 10px 0;
}

.list {
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    height: 50%;
  }
}
