.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.user__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 200px;
  border-radius: 50px;
  /* background: white; */
}

.user__container form {
  width: 100%;
}

.col_1,
.col_2,
.col_3,
.col_4 {
  width: 100%;
}

input {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  outline: none;
}

.col_1 > input {
  width: 35%;
  height: 40px;
  border: 1px solid #aaaaaa;
}

.col_1 > select {
  width: 30%;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  outline: none;
}

.col_2 > input,
.col_3 > input {
  width: 50%;
  height: 40px;
}

.col_4 {
  display: flex;
}
