input[type="file"] {
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  width: 50%;
}

.input {
  display: none;
}

.imgUploader {
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  cursor: pointer;
  border: 1px solid #aaaaaa;
  color: black;
  font-size: rem;
  font-weight: 500;
  transition: all 300ms linear;
}

.imgUploader.pink {
  background: #e1bee7;
}

.imgUploader.gray {
  background: gray;
}

.imgUploader.pink:hover {
  background: #d08fda;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #e1bee7;
}

.loading > span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #aaaaaa;
  border-top: 2px solid #512abb;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
