.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1565c0;
}

.container.small {
  width: 400px;
  height: 50px;
}

.container.full {
  width: 100%;
  height: 5%;
}

.container h1 {
  padding: 10px 0 10px 0;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
}

.userInfoContainer {
  position: absolute;
  right: 60px;
}

.logout {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  transition: all 300ms ease-in-out;
}

.logout:hover {
  background: #c62828;
}

.logout > span {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.logout i {
  padding-left: 10px;
  font-size: 1.2rem;
}
