.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1565c0;
}

.container.small {
  width: 400px;
  height: 50px;
}

.container.full {
  width: 100vw;
  height: 5%;
}

.container h1 {
  padding: 10px 0 10px 0;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
}

.userInfoContainer {
  position: absolute;
  right: 10px;
}
