.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.user__container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 90%;
  height: 200px;
  border-radius: 50px;
}

.user__container.dark {
  background: #121212;
}

.user__container.light {
  background: white;
}

.user__container.colorful {
  background: linear-gradient(to top right, #1e88e5, #1faa00);
}

.imgbox {
  padding: 5px;
  width: clamp(180px, 30%, 300px);
  height: 160px;
}

.imgbox img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.textbox {
  width: clamp(300px, 50%, 700px);
  padding: 5px;
  text-align: start;
  color: #aaaaaa;
}

.textbox.dark {
  color: white;
}

.textbox.dark p {
  color: gray;
}

.textbox.light {
  color: black;
}

.textbox.light p {
  color: #212121;
}

.textbox.colorful {
  color: black;
}

.textbox.colorful p {
  color: #212121;
}

.textbox h2 {
  padding: 2px;
  font-size: 1.5rem;
}

.textbox h3 {
  padding: 2px;
  font-size: 1.2rem;
}

.textbox span {
  /* content: ""; */
  display: block;
  height: 1px;
  background: gray;
  width: 100%;
  margin: 3px 0 3px 0;
}

.textbox p {
  padding: 2px;
  font-size: 1rem;
  font-weight: 500;
}
